//primary
$Scissors-Gradient:hsl(39, 89%, 49%) ;
$Paper-Gradient: hsl(230, 89%, 62%) ;
$Rock-Gradient: hsl(349, 71%, 52%) ;
$Lizard-Gradient: hsl(261, 73%, 60%) ;
$Cyan: hsl(189, 59%, 53%) ;

//Neutral 
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);

//background
$Background-Gradient: radial-gradient(circle , hsl(214, 47%, 23%) ,hsl(237, 49%, 15%));